@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.interactiveBuilderContainer {
  margin: 1rem;
}
.container {
  :global(.cds--modal-content:focus) {
    outline: none;
  }

  :global(.cds--tooltip) {
    z-index: 1;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
}

.helperText {
  @include type.type-style('body-compact-01');
  margin: 1rem 0rem;
}

.subHeading {
  font-size: 1rem;
  margin: 1rem 0rem 0.5rem;
}

.heading {
  @include type.type-style('heading-01');
  margin: 1rem 0rem 0.5rem;
}

.styledHeading {
  @include type.type-style('heading-02');
  margin: 0.5rem 0rem;

  &:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.subheading {
  @extend .heading;
  @include type.type-style('heading-02');
}

.name {
  @extend .heading;
  @include type.type-style('heading-02');
}

.editableFieldsContainer {
  margin: 1rem 0;
  border-bottom: 1px solid colors.$gray-20;
}

.addQuestionButton {
  margin: 0.75rem 0;
}

.header {
  margin: 2rem 0;
}

.explainer {
  @include type.type-style('heading-02');
}

.smallParagraph {
  font-style: italic;
  font-size: 0.875rem;
}
.topHeader {
  display: flex;
  flex-direction: column;
}

.startButton {
  margin: 1rem 0;
}

.editorContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0.5rem;
  align-items: center;
  width: 100%;
}

.buttonContainer {
  span {
    margin: 0rem 0.5rem;
  }
}


.packageLabel {
  @include type.type-style('heading-02');
  margin: 0.5rem 0rem;

  &:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.editStatusIcon {
  display: flex;
  justify-content: right;
}

.tileContainer {
  margin: layout.$spacing-03 0 layout.$spacing-03;
  width:fit-content
}

.tileContent {
  display: flex;
  flex-direction: column;
}

.content {
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

